.letterSquare {
  /* 8AEA92 */
    border: 3px solid var(--color-mygreen);
    width: auto;
    height: 5rem;
    
    aspect-ratio: 1/1;

    display: flex;
  
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: bold;

  transition: background-color 0.2s ease, transform 0.2s ease;
  
  filter: brightness(1.1);
  cursor: pointer;
}

.letterSquare:active {
  transform: scale(0.97);
}


@media(max-width: 822px), (max-height: 842px) {
  .letterSquare {
    height: 2rem;
    font-size: 1.2rem;
  }
}